<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <div sec:authorize="hasRole('ADMIN')">              <!-- show ROLE_ADMIN admin-->
        <form method="get" th:action="@{/adminPage}">
            <input type="submit" value="AdminPageへ">
        </form>
    </div>

    <div sec:authorize="hasRole('USER')">               <!-- show ROLE_USER user -->
        <form method="get" th:action="@{/userPage}">
            <input type="submit" value="UserPageへ">
        </form>
    </div>

    <div sec:authorize="isAuthenticated()">             <!-- show user who logged in -->
        <form method="post" th:action="@{/logout}">     <!-- designate pass for logout -->
            <input type="submit" value="ログアウト">
        </form>
    </div>
</body>
</html>
